@model AspMvcFullApp.Models.Company

<h2>Add new Company</h2>
<form asp-controller="company" asp-action="create">
    <div>
        <label asp-for="Title">Title</label>
        <input asp-for="Title" type="text" />
    </div>

    <div>
        <button type="submit">Create Company</button>
    </div>
</form>

