@model IEnumerable<AspMvcFullApp.Models.Company>

<div>
    <div>
        <a asp-controller="company" 
            asp-action="create" 
            class="btn btn-primary">
                Add new company
        </a>
    </div>

    <h2>List of Companies:</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in Model)
            {
                <tr>
                    <td>@company.Title</td>
                    <td>
                        <a asp-controller="company"
                           asp-action="edit"
                           asp-route-id="@company.Id"
                           class="btn btn-info">
                            Edit
                        </a>
                    </td>
                    <td>
                        <form asp-controller="company"
                              asp-action="delete"
                              asp-route-id="@company.Id"
                              method="post">
                            <button type="submit"
                                    class="btn btn-danger">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
