<!DOCTYPE html>
<html>
<head>
    <title>My Layout</title>
</head>
<body>
    <header>
        <div><a href="/Home/Index">Home</a>  |  <a href="/Home/Employees">Employees</a></div>
    </header>
    <main>
        @RenderBody();
    </main>
</body>
</html>
