@model AspMvcFullApp.Models.Employee
@{
    var companies = (IEnumerable<Company>)ViewData["Companies"];
}

<h2>Add new Employee</h2>
<form asp-controller="home" asp-action="create">
    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" type="text" />
    </div>

    <div>
        <label asp-for="Age">Age</label>
        <input asp-for="Age" type="number" />
    </div>

    <div>
        <label asp-for="CompanyId">Company</label>
        <select asp-for="CompanyId">
            @foreach(var company in companies)
            {
                <option value="@company.Id">@company.Title</option>
            }
        </select>
    </div>

    <div>
        <button type="submit">Create Employee</button>
    </div>
</form>

